:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--light-gray);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.card {
  background-color: var(--white);
  width: 320px;
  height: auto;
  padding: 15px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 7px 30px -16px gray;
}

img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  color: var(--dark-blue);
  margin-top: 20px;
}

p {
  text-align: center;
  width: 90%;
  font-weight: 400;
  color: var(--grayish-blue);
  margin-top: 15px;
  margin-bottom: 20px;
}
